.git
.gitignore
.gitattributes
.github

vendor
node_modules
public/build

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*

.env
.env.*
!/.env.example

*.log
*.pid
*.sock
*.swp
*.patch
*.rej
*.orig

.idea
.vscode
.DS_Store
Thumbs.db
