APP_NAME=WaveFlow
APP_ENV=local
APP_KEY=base64:Jmr6qQ0P1mJ/BbErWlXzzl+1tXec94v6l0qYkZ1rN2g=
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080
APP_LOCALE=ru
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=waveflow
DB_USERNAME=waveflow
DB_PASSWORD=waveflow

POSTGRES_DB=waveflow
POSTGRES_USER=waveflow
POSTGRES_PASSWORD=waveflow
FORWARD_DB_PORT=5432

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

APP_SEED=true
